@using LNU.Courses.WebUI.Models
@model System.Collections.Generic.IEnumerable<DisciplineViewModel>
@{
    ViewBag.Title = "Доступні дисципліни";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<h2>Доступні дисципліни </h2>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Назва", "GetDisciplines", "Student", new { sortBy = DisciplineSortingEnum.Name }, null)
        </th>
        <th>
            @Html.ActionLink("Кафедра", "GetDisciplines", "Student", new { sortBy = DisciplineSortingEnum.Kafedra }, null)
        </th>
        <th>
            @Html.ActionLink("Лектор", "GetDisciplines", "Student", new { sortBy = DisciplineSortingEnum.Lecturer }, null)
        </th>
        <th>
            @Html.ActionLink("Курс", "GetDisciplines", "Student", new { sortBy = DisciplineSortingEnum.Course }, null)
        </th>
        <th>
            @Html.ActionLink("Зареєстровано студентів I хвиля", "GetDisciplines", "Student", new { sortBy = DisciplineSortingEnum.FirstWave }, null)
        </th>
        <th>
            @Html.ActionLink("Зареєстровано студентів II хвиля", "GetDisciplines", "Student", new { sortBy = DisciplineSortingEnum.SecondWave }, null)
        </th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @if (ViewBag.Wave == 0 || ViewBag.CheckLock == true || ViewBag.CheckReg == 2)
            {

                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.kafedra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lecturer.fullName)
                </td>
                <td>
                    @{
                        var course = item.course;
                    }
                    @Html.DisplayFor(modelItem => course)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.firstWave)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.secondWave)
                </td>
                <td></td>


                        }

                        else
                      if (ViewBag.Wave == 1 || ViewBag.Wave == 2)
                        {

                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.kafedra)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.lecturer.fullName)
                            </td>
                            <td>
                                @{
                                    var course = item.course;
                                }
                                @Html.DisplayFor(modelItem => course)
                            </td>


                            <td>
                                @{
                                    Html.RenderAction("GetDisciplineStudentCount", "Student", new { disciplineId = item.id, wave = 1 });
                                }
                            </td>
                                <td>
                                    @{
                                        Html.RenderAction("GetDisciplineStudentCount", "Student", new { disciplineId = item.id, wave = 2 });
                                    }
                                </td>
                                    <td>
                                        @if (ViewBag.NotDisciplines != item.id &&((double)item.course / 2 - Math.Truncate((double)((double)item.course / 2)) == 0.5 && ViewBag.FirstSemestr == false || ViewBag.SecondSemestr == false ) && (double)item.course / 2 - Math.Truncate((double)((double)item.course / 2)) == 0)
                                        {
                                            @Html.ActionLink("Обрати", "RegisteringInTheCourse", new { id = item.id })
                                        }
                                    </td>
                                        }
                                        else
                                               if (ViewBag.Wave == 2 && staticData.checkInList(item.id) == true)
                                        {

                                            <td>
                                                @Html.DisplayFor(modelItem => item.name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.kafedra)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lecturer.fullName)
                                            </td>
                                            <td>
                                                @{
                                                    var course = item.course;
                                                }
                                                @Html.DisplayFor(modelItem => course)
                                            </td>


                                            <td>
                                                @{
                                                    Html.RenderAction("GetDisciplineStudentCount", "Student", new { disciplineId = item.id, wave = 1 });
                                                }
                                            </td>
                                            <td>
                                                @{
                                                    Html.RenderAction("GetDisciplineStudentCount", "Student", new { disciplineId = item.id, wave = 2 });
                                                }
                                            </td>
                                            <td>
                                                @if (ViewBag.NotDisciplines != item.id && ((double)item.course / 2 - Math.Truncate((double)((double)item.course / 2)) == 0.5 && ViewBag.FirstSemestr == false || ViewBag.SecondSemestr == false) && (double)item.course / 2 - Math.Truncate((double)((double)item.course / 2)) == 0)
                                                {
                                                    @Html.ActionLink("Обрати", "RegisteringInTheCourse", new { id = item.id })
                                                }
                                            </td>

                                                    }




            <td>
                @Html.ActionLink("Деталі", "DetailsOfDiscipline", "Shared", new { id = item.id }, null)
            </td>
        </tr>
                                                    }

</table>
