@model System.Collections.Generic.IEnumerable<Entities.Disciplines>
@{
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";

    ViewBag.Title = "Мій профіль";
}
<table class="table">
    <tr>
        <h2>Мій профіль</h2>
        
    </tr>
    <tr>
        <td>
            Логін :
        </td>
        <td>
            @ViewBag.Login
        </td>
        <td>
            
        </td>
    </tr>
    <tr>
        <td>
            П.І.Б :
        </td>
        <td>
            @ViewBag.Fio
        </td>
        <td>
           
        </td>
    </tr>
    <tr>
        <td>
            Курс :
        </td>
        <td>
            @ViewBag.Course
        </td>
        <td>
            
        </td>
    </tr>
    <tr>
        <td>
            Група :
        </td>
        <td>
            @ViewBag.Group
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            Середня оцінка :
        </td>
        <td>
            @ViewBag.AverageMark
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            Пошта :
        </td>
        <td>
            @ViewBag.EMail
        </td>
        <td>
            @Html.ActionLink("Edit", "EditEMail")
        </td>
    </tr>
    <tr>
        <td>
            Телефон :
        </td>
        <td>
            @ViewBag.PhoneNumber
        </td>
        <td>
            @Html.ActionLink("Edit", "EditPhone")
        </td>
    </tr>
</table>

<table class="table">
    <tr>
        <h2>Дисципліни</h2>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                Курс - @item.course
            </td>
            <td>
                @item.kafedra , дисципліна - @item.name
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteFromTheCourse", new { id = item.id})  
            </td>
        </tr>
    }

    
</table>