@model Entities.Disciplines
@{
    ViewBag.Title = "Ви зареєстровані на курси!";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<h2>Ви зареєструвалися на:</h2>


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Назва")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayName("Кафедра")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kafedra)
        </dd>

        <dt>
            @Html.DisplayName("Лектор")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lecturers.fullName)
        </dd>

        <dt>
            @Html.DisplayName("Семестр")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course)
        </dd>
    </dl>
</div>

