@using LNU.Courses.Security
@{
    string studentRole = "User";

    var flag = true;
    string supAdmRole = "SuperAdmin";
    string adminRole = "Admin";
    string lecturerRole = "Lecturer";

    var adminFlag = false;
    var temp = Session["Roles"];
    List<string> roles = new List<string>();
    if (temp != null)
    {
        roles = ((string[])temp).ToList();
        if (roles.Contains(studentRole))
        {
            flag = false;
        }
        if (roles.Contains(adminRole) || roles.Contains(adminRole) || roles.Contains(lecturerRole))
        {
            adminFlag = true;
        }
    }

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LNU</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #002561; border-color: #002561;">
        <div class="container">

            <div class="navbar-header">
                <a href="http://www.lnu.edu.ua">
                    <img style="margin-top: 10px;" src="~/Images/small.png" />
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Інформація", "Info", "Shared", null, null)</li>
                    @if (flag)
                    {
                        <li>@Html.ActionLink("Дисципліни", "GetCourses", "Shared", null, null)</li>
                    }
                    @if (adminFlag)
                    {
                        <li>@Html.ActionLink("Змінити пароль", "ChangePass", "Admin", null, null)</li>
                    }
                    @if (roles.Contains(lecturerRole))
                    {
                        <li>
                            @Html.ActionLink("Змінити телефон", "ChangePhoneNumber", "Admin", null, null)
                        </li>
                    }
                    @RenderSection("Header", false)
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @if (string.IsNullOrEmpty(SessionPersister.Login))
                    {
                        <li><a href="~/Account/Login"><span class="glyphicon glyphicon-log-in"></span> Увійти</a></li>
                    }
                    else
                    {
                        <li><a href="~/Account/Logout"><span class="glyphicon glyphicon-log-out"></span> Вийти</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()

    </div>
    <footer class="modal-footer">
        <p>&copy; @DateTime.Now.Year - LNU курси за вибором</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
