@using System
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Header {
    <li>@Html.ActionLink("Дисципліни", "GetDisciplines", "Student", null, null)</li>
    <li>@Html.ActionLink("Мій профіль", "MyProfile", "Student", null, null)</li>
    @*<div class="row">
            @Html.ActionLink("Змінити пароль", "ChangePassword", "Student", null, new { @class = "btn btn-default btn-large" })
        </div>*@
}

<div class="col-lg-12">
    @RenderBody()
</div>
<footer class="modal-footer">
    <p>&copy; @DateTime.Now.Year - LNU курси за вибором</p>
</footer>