@using LNU.Courses.WebUI.Models
@model System.Collections.Generic.IEnumerable<Entities.Students>




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.ActionLink("П.І.Б", "GetStudents", "Admin", new { fio = ViewBag.Fio, sortBy = StudentSortingEnum.Fio }, null)
        </th>
        <th>
            @Html.ActionLink("Курс", "GetStudents", "Admin", new { fio = ViewBag.Fio, sortBy = StudentSortingEnum.Course }, null)
        </th>
        <th>
            @Html.ActionLink("Група", "GetStudents", "Admin", new { fio = ViewBag.Fio, sortBy = StudentSortingEnum.Group }, null)
        </th>
        <th>
            @Html.ActionLink("Середній бал", "GetStudents", "Admin", new {fio = ViewBag.Fio, sortBy = StudentSortingEnum.AverageMark}, null)
        </th>
        <th>
            @Html.Display("Телефон")
        </th>
        @if (ViewBag.Admin == 1)
        {
            <th>
                @Html.DisplayNameFor(model => model.Deleted)
            </th>
        }
        <th></th>
        <th></th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.course)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.group)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageMark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            @if (ViewBag.Admin == 1)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Deleted)
                </td>
                <td>

                    @{
                        string editLink = "EditStudent?id=" + item.id;
                        string deleteLink = "DeleteStudent?id=" + item.id;
                    }

                    <a class="btn-link" href="/Admin/@editLink" id="edit"> Змінити </a>

                </td>
                <td>
                    @if (item.Deleted == false)
                    {
                        <a class="btn-link" href="/Admin/@deleteLink"> Видалити </a>
                    }
                </td>

             }

        </tr>
     }

</table>
