@model Entities.Disciplines

@{
    ViewBag.Title = "Деталі";

    string supAdmRole = "SuperAdmin";
    string adminRole = "Admin";
    string studentRole = "User";

    var temp = Session["Roles"];
    if (temp != null)
    {
        List<string> roles = ((string[])temp).ToList();
        if (roles.Contains(supAdmRole) || roles.Contains(adminRole))
        {
            Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
        }
        else if (roles.Contains(studentRole))
        {
            Layout = "~/Views/Shared/_LayoutStudent.cshtml";
        }
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";

    }
}

<h2>Деталі</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kafedra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kafedra)
        </dd>

        <dt>
            @Html.DisplayName("Лектор")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lecturers.fullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.course)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

    </dl>
</div>

@if (temp != null)
{
    List<string> roles = ((string[])temp).ToList();
    if (roles.Contains(supAdmRole))
    {
        <p>
            @Html.ActionLink("Змінити", "EditDiscipline", "Admin", new { id = Model.id }, null) |
            @Html.ActionLink("Назад до списку", "GetCourses", "Shared")
        </p>
        <p>
            Список студентів
        </p>
        <p>I хвиля</p>

        Html.RenderAction("GetDisciplineStudents", "Admin", new {disciplineId = Model.id, wave = 1, sortBy = ViewBag.SortBy});

        <p>II хвиля</p>

        Html.RenderAction("GetDisciplineStudents", "Admin", new {disciplineId = Model.id, wave = 2, sortBy = ViewBag.SortBy});
    }
}