
@{
    ViewBag.Title = "Зміна паролю";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="~/Scripts/custom/validationScripts.js"></script>

<h2>Зміна паролю</h2>
@using (Html.BeginForm("ChangePass", "Admin", FormMethod.Post, new { onsubmit = "return validateForm()" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.Label("Старий пароль", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="password" id="oldPass" name="oldPass" class="form-control" />
                <div class="text-danger"> @ViewBag.ChangePassValidate</div>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Новий пароль", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="password" id="newPass" name="newPass" class="form-control"  onkeyup="validateForm()"/>
                <div class="text-danger" id="newPassValidMessage">
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Повторіть новий пароль", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="password" id="checkNewPass" name="checkNewPass" class="form-control" onkeyup="validateForm()" />
                <div class="text-danger" id="newPassCheckValidMessage">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Змінити" class="btn btn-default" />
            </div>
        </div>
    </div>
}
